 !SYSTEM MACRO TO HANDLE WILD CARDS!
J0AU9Q9-^^""N
Q9-^^"EJDHT
^C'
JS R 0XA 0K I
ZJI

40<JLS-;.-1U1S  RQ1,.X1 Q1,.K 0L2RG1>
40<JLS/;.-1U1S  RQ1,.X1 Q1,.K 0L2RG1>
JL2R0XB0LK
JI$JOB
.DIR WILD.DI<
ZJ2RI/F=1
.MUNG WILD," GA I" GB
LI$END

EWWILD.TMPWEFHKEGSUBMIT WILD.TM/T/H '
Q9-^^""EJDFS" 0XA0KHXBHK
ERWILD.DIY
3KZJ-3K
Z"ENo such files
'
J<FS ;>
<S
;2R0XCGB0LI.GA
0LI.MUNG WILD,GCI
L>
JI$JOB
.MUNG WILD,GAI:
ZJI.R FOTP
*WILD.DI,WILD.TM,WILD.BI/D
$END

EWWILD.BIPWEFHK
EGSUBMIT WILD/T/H
'
